@use './mixins'
@use './variables'
    
.folder
    position: relative
    width: 98.7vw
    top: 0
    img
        // width: 100%
        height: 400px
        object-fit: cover
        object-position: 0px -4px
        display: block
        opacity: 0.8

    .title-and-button-folder
        position: absolute
        top: 40%
        left: 7%

        h3
            font-size: 4rem
            margin-bottom: 0
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 1)
        
        p
            font-size: 1.5rem

        button
            @include mixins.btn
            margin-top: 20px
.movies
    // padding: 1vh 1vw
    display: flex
    flex-wrap: wrap
    gap: 1vw
    width: 100%
    justify-content: center
    padding-bottom: 20px

.div-button-more
    width: 100%
    text-align: center

    button
        color: variables.$font-color
        background: none
        border: none
        font-family: variables.$primary-font
        cursor: pointer
        margin-bottom: 20px
    :hover
        text-decoration: underline
    
